<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitlab-gzdkh" value="https://gitlab.com/api/v4/projects/79414535/packages/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab-gzdkh>
      <add key="Username" value="itprodavets" />
      <add key="ClearTextPassword" value="glpat-4aDAFA2Y3HIZgfv-br8sF286MQp1OjJwa240Cw.01.1203qajna" />
    </gitlab-gzdkh>
  </packageSourceCredentials>
</configuration>